PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
COOKIE_SECURE=false
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000

SEED_ADMIN_NAME="Marcelo Correa"
SEED_ADMIN_EMAIL=admin@devhttp.local
SEED_ADMIN_PASSWORD=devhttp123

MYSQL_DATABASE=devhttp
MYSQL_USER=devhttp
MYSQL_PASSWORD=devhttp123
MYSQL_ROOT_PASSWORD=root123

DATABASE_URL="mysql://devhttp:devhttp123@127.0.0.1:3306/devhttp"
